@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&display=swap');


$color-primary: #242424;
$color-second: #db596a;
$font-familly-title: 'Josefin Sans';
$raduis: 3px;
$transition-time: 200ms;

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;

    @media screen and (max-width: 850px) {
        font-size: 9px;
    }
}

*, 
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 300px;
    height: 100vh;
    background: linear-gradient(to right, $color-primary 50%, white 50%);

    @media screen and (max-width: 800px) {
        background: linear-gradient(to top, white 50%,  $color-primary 50%) no-repeat;
    }
}

#app {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;

        header .cart svg {
            fill: white;
        }

        main {
            flex-direction: column;
            gap: 2rem;

            .card {
                align-items: center;

                .add-cart {
                    align-self: center;
                }
            }
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ------------ HEADER ------------ */
header {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-family: $font-familly-title;
        font-style: italic;

        font-size: 2.5rem;
        padding: 1rem;
        letter-spacing: 1px;
        color: white;
    }

    .cart {
        padding: 1rem;

        button {
            background: none;
            padding: 0;
            border: none;
            cursor: pointer;
            position: relative;
        }

        svg {
            fill: black;
            width: 50px;
            aspect-ratio: 3 / 2;
        }

        .quantity {
            opacity: 0;

            position: absolute;
            bottom: 5px;
            right: 10px;
            width: 15px;
            height: 15px;
            @extend %center;
            background-color: $color-second;
            color: white;
            border-radius: 50%;
            font-size: 1rem;

            &.visible {
                opacity: 1;
            }
        }
    }
}
/* ------------ MAIN ------------ */
main {
    grid-column: 1 / 3;
    @extend %center;

    .photos,
    .description {
        flex-basis: 50%;
    }

    .photos {
        display: flex;
        align-items: center;
        flex-direction: column;

        .img-selected {
            max-width: 350px;
            min-width: 200px;

            img {
                width: 100%;
            }
        }

        .box-thumbs {
            display: flex;
            gap: 1rem;

            .thumb {
                max-width: 80px;
                cursor: pointer;

                img {
                    width: 100%;
                    aspect-ratio: 2 / 3;
                    object-fit: contain;
                }
            }
        }
    }

    .description {
        @extend %center;
        margin-bottom: 1.5rem;

        .card {
            max-width: 500px;
            display: flex;
            flex-direction: column;
            gap: 1.7rem;

            .name {
                font-family: $font-familly-title;
                font-style: italic;
                font-size: clamp(2rem, 3vw, 3rem);
                line-height: 1.2;
            }

            .price {
                font-size: clamp(1.25rem, 2vw, 1.5rem);
                font-weight: 500;

                .current-price {
                    color: $color-second;
                    padding-right: 0.5rem;
                }

                .old-price {
                    text-decoration: line-through;
                }
            }

            .select-color {
                min-width: 200px;

                &.active {
                    .options { display: block; };
                    .select-button svg { transform: rotate(-180deg); }
                }

                .select-button {
                    width: 100%;
                    height: 40px;
                    padding: 1rem;
                    font-size: clamp(1rem, 2vw, 1.3rem);
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: none;
                    background: none;
                    border-radius: $raduis;
                    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.1);
                    cursor: pointer;

                    svg {
                        width: 25px;
                        transition: all $transition-time;
                    }

                    .selected-color {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    }

                    .color {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: $raduis;

                        &.black-blue {
                            background-image: linear-gradient(45deg, $color-primary 50%, #306481 50%);
                        }

                        &.black {
                            background-color: $color-primary;
                        }
                    }
                }

                .options {
                    display: none;

                    padding: 1rem;
                    margin-top: 1rem;
                    background-color: white;
                    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.1);
                    border-radius: $raduis;
                    cursor: pointer;

                    .option {
                        padding: 1rem;
                        list-style: none;
                        border-radius: $raduis;
                        font-size: clamp(1rem, 2vw, 1.2rem);
                        transition: background-color $transition-time;

                        &:nth-child(2n) {
                            margin-top: 0.7rem;
                        }

                        &.black-blue {
                            color: white;
                            background-image: linear-gradient(to right, $color-primary 50%, #306481 50%);
                        }

                        &.black {
                            color: white;
                            background-color: $color-primary;
                        }
                    }
                }
            }

            .quantity {
                display: flex;

                input {
                    width: 40px;
                    font-size: 1.8rem;
                    appearance: none;
                    appearance: textfield; // Firefox
                    border: none;
                    text-align: center;
                    outline: none;

                    // Chrome
                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        appearance: none;
                    }
                }

                button {
                    @extend %center;
                    width: 30px;
                    height: 30px;
                    padding: 1rem;
                    border-radius: 50%;

                    border: 2px solid $color-primary;
                    background: none;
                    cursor: pointer;
                    transition: all $transition-time;

                    &:hover {
                        background-color: $color-primary;

                        span {
                            color: white;
                        }
                    }

                    span {
                        font-size: 1.5rem;
                        color: black;
                        transition: all $transition-time;
                    }

                    @media screen and (max-width: 850px) {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .delivery {
                font-size: clamp(1rem, 2vw, 1.2rem);
            }

            button.add-cart {
                align-self: flex-start;
                border-radius: $raduis;
                background-color: $color-second;
                border: none;
                font-size: clamp(1.2rem, 2vw, 1.35rem);
                font-family: inherit;
                cursor: pointer;

                &:hover span {
                    transform: translate(-5px, -5px);
                    background-color: $color-primary;
                    color: white;
                }

                &:active span {
                    transform: translate(0, 0);
                }

                span {
                    display: inline-block;
                    padding: 1rem;
                    border-radius: $raduis;
                    border: 2px solid black;
                    background-color: white;
                    transition:
                        transform $transition-time ease-out,
                        color $transition-time ease-out,
                        background-color $transition-time ease-out;
                }
            }
        }
    }
}